<?xml version="1.0" encoding="utf-8"?><root> 
  <reffer>txrjzx</reffer>  
  <sid>200</sid>  
  <bid>12425</bid>
  <sbid>18845e28702aeacb0581c50d488e4c0e</sbid>
  <companyName>上海九方云智能科技有限公司</companyName>  
  <softName>九方智投</softName>  
  <version>4.7.1</version>  
  <softNameAbbr>jfztADV</softNameAbbr> 
  <project>rjhy_huntianling</project>  
  <projectID>jfzt_pc_adv</projectID> 
  <bugtrap_operation>send</bugtrap_operation>
</root>